
.card{
    width: 9rem;
    height: 12rem;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 12px;
    min-width:9rem;
    min-height: 12rem;
    background-size:cover;
    box-shadow: 10px 10px 20px #0000001d;
    cursor: pointer;

}
.card:hover{
    box-shadow: 10px 10px 20px #00000057;
}
.card-btn{
    position: absolute;
    top: -12px;
    left: 15px;
    justify-content: center;
    cursor: pointer;
}
.git-icon{
    width: 1.4rem;
}
.img-box{
    position: relative;
    border-radius: 20px ;
    background-size: cover;
    width: auto;
    height: 100%;
}
.card-img{
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.card-info{
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
    position: relative;
    top: -4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.074);
}
.underline{
    width: 0;
    height: 3px;
    border-radius: 8px;
}
.demo-btn{
    font-size: .8rem;
    padding: .5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}