@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
  padding: 0;
  margin: 0;
}
.app{
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}
.header{
z-index: 3;
}
.footer{
  z-index: 3;
}
.about{
  z-index: 1;
}
.home{
  z-index: 1;
}
